<div class="mt-6 justify-center flex">
  <a 
    href="https://taplink.cc/datavolve"
    target="_blank"
    rel="noopener noreferrer"
    class="btn btn-primary btn-wide text-lg"
  >
    📅 Agendar una Consultoría
  </a>
</div>