---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Victoria Vallejos
  </div>
  <div class="inline opacity-75">
    Desarrollado por <a href="/" class="font-bold">Victoria Vallejos</a>
    <div class="pt-2">
      <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template ⚡️</a>
    </div>
  </div>
</footer>